{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Sobre</h2>
      <h3>Fique a saber mais <span>Sobre nós</span></h3>
      <p>O nosso objectivo principal é sempre realizar o melhor serviço possível.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="{% static 'img/sobre_nos_1.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <h3>Temos anos de experiência no mercado e sempre adaptamos as técnicas mais modernas disponíveis.</h3>
        <p class="fst-italic">
          Tudo para o seu conforto ;)
        </p>
        <ul>
          <li>
            <i class="bx bx-store-alt"></i>
            <div>
              <h5>Localização</h5>
              <p>Apesar de não termos uma loja fisíca, realizamos trabalhos em todo Portugal.</p>
            </div>
          </li>
          <li>
            <i class="bx bx-images"></i>
            <div>
              <h5>Portfolio</h5>
              <p>Por favor aceda ao nosso portfolio e veja por si mesmo os nossos mais recentes trabalhos. </p>
            </div>
          </li>
        </ul>
        <p>
          Se pretender pedir um orçamento <a href="{% url 'basic_app:budgets' %}">clique aqui</a> ou em Pedir Orçamento nos botões da pagina, lá explicamos tudo o que é necessário preencher para ter o melhor orçamento possível com as
          condições desejadas.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

{% endblock %}
