{% extends 'base.html' %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Bem vindo a <span>Tratoar</span></h1>
    <h2>Nós realizamos a instalação de ar condicionados assim como manutenções.</h2>
    <p> <h3>Entre já em contacto :) </h3> </p>
    <div class="d-flex">
      <a href="{% url 'basic_app:budgets' %}" class="btn-get-started scrollto">Peça já o seu orçamento</a>
      <a href="#" class="btn-watch-video"><i class="bi bi-play-circle"></i><span>Portfolio</span></a>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Instalação Segura</a></h4>
            <p class="description">Todos os nossos trabalhos são realizados com segurança máxima.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Profissionais</a></h4>
            <p class="description">Temos anos de experiencia no ramo dos ar condicionados com centenas de clientes satisfeitos.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Materiais de Qualidade</a></h4>
            <p class="description">Todos os produtos que recomendamos são de qualidade para que tenha o melhor conforto possível.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Localização</a></h4>
            <p class="description">Realizamos trabalhos por todo Portugal.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->

{% endblock %}
