{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="content-section">
		<br>
  	 	<h2>Recuperar Palavra Passe</h2><hr>
		<p>Esqueceu-se da sua palavra passe? Por favor insira o seu email abaixo e enviaremos um link com instruções.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info mt-3" type="submit">Send email</button>
        </form>
  	</div>
</div>
{% endblock %}
